<% provide(:title, 'Leaderboard') %>
<h1>Leaderboard</h1>

<ol class="leaderboard">
  <% @users.each do |user| %>
    
    <div class = "row">
        <section class="col-sm-1">
        <li>
        </section>
        <section class="col-sm-4">
          <%= user.name %>
        </section>
        
        <section class="col-sm-5">
          
        </section>
        
        <section class="col-sm-2">
          <%= user.points %>
        </section>
      
      </li>
    </div>
  <% end %>
</ol>