<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Game",   root_path %></li>
          <li><%= link_to "Leaderboard",   leaderboard_path %></li>
          <li><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Sign Up/ Sign In</button></li>
        </ul>
      </nav>
    </div>
  </header>
  <%= render 'layouts/modal' %>
  
  